/css
/gokul.css.css
/gokul.html
/gokul.py
/gokulnath.css
/gokulnath.html
/he.js
/hello.java
/ht.jpg.jpg
/html.html
/html.jpg
/new.html
/nithish.html
/nithish.java
/node.js
/OIP.jpeg
/print(nithish).py
/ram.py
/ram2.py
/sriram.html
/sriram1.css
/sriram1.html
/style.html
/style2.css
/style2.html
/style2sample.css
/style2sample.html
/style9.css
/t.html
/thambi.html
/welcome img.jpg
/WhatsApp Image 2023-11-07 at 19.02.34_de105e15.jpg